@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #0b0f2e, #0d1b4c, #0a2c77);
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
}
